.Messages {
  text-align: left;
  padding: 20px;
  width: 100%;
  height: 90%;
  margin: 0 auto 10px;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid #777;
}

.ViewPanel {
  margin-top: 5px;
  padding: 8px 15px;
  border-radius: 5px;
  width: 85%;
  float: left;
}

.my-message {
  background: #C8E6C9;
  text-align: right;
  width: 85%;
  float: right;
}